
body{
    background-color: white;
    color: darkslategray;
    padding-left: 20%;
    padding-right: 20%;
}

p{

    font-family: Georgia, serif;
}

h1, h2, h3{
    color: plum;

}

strong{
    color: plum;

}

h1, h3{
    text-align: center;

}

h2{
    text-align: right;
    border-bottom: solid lightslategray thin;

}

hr {
    border: lightslategray dotted thin;
    margin-left: 25%;
    margin-right: 25%;

}
