
body{
    background-color: white;
    color: darkslategray;
    padding: 50px 20%;
}

p{
    text-align: justify;
    font-style: italic;
    font-family: Georgia, serif;
}

h1, h2, h3{
    color: plum;

}

strong{
    color: plum;

}

h1, h3{
    text-align: center;

}

h2{
    text-align: right;
    border-bottom: solid lightslategray thin;

}

hr {
    border: lightslategray dotted thin;
    margin-left: 25%;
    margin-right: 25%;

}
